Options -Indexes

DirectoryIndex index.php index.html

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^(?:src|database)/ - [F,L]
    RewriteRule ^(?:header|footer)\.php$ - [F,L]

    RewriteCond %{HTTPS} !=on [OR]
    RewriteCond %{HTTP:X-Forwarded-Proto} !https
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    RewriteCond %{THE_REQUEST} \s/+index(?:\.php)?(?:[?\s]|$) [NC]
    RewriteRule ^index(?:\.php)?$ / [L,R=301]

    RewriteCond %{THE_REQUEST} \s/+([A-Za-z0-9_-]+)\.php(?:[?\s]|$) [NC]
    RewriteRule ^([A-Za-z0-9_-]+)\.php$ /$1 [L,R=301]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^([A-Za-z0-9_-]+)/?$ $1.php [L,QSA]
</IfModule>
